git:
  token: token
jira:
  username: username
  password: password
reviewers:
  first:
    - 1st lvl reviewer
    - rtriska
    - dlandberg
  second:
    - 2nd lvl reviewer
    - edk
    - farrspace
